**/.koparde*
/site/

.DS_Store

.Rproj.user
/.quarto/
/_site/
/_freeze/

**/*.quarto_ipynb
*.quarto_ipynb
/.posit/
/.venv-quarto/
/.venv-quarto-python312-backup/

# pixi environments
.pixi/*
!.pixi/config.toml
pixi.lock
